p{
    font-size: x-large;    
}
header{
    text-align: center;
    background-color: blue;
}
.Singleblock{
    width: 900px;
    align-self: center;
    margin-bottom: 20px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3), -3px -3px 6px rgba(0, 0, 0, 0.3);
    overflow: auto;
}
.content{
    padding: 10px;
}
.catimg{
    overflow: hidden;
}
img{
    transition: all 0.6s ease;
}
img:hover{
    transform: scale(1.5);
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.searcharea{
    display: inline-block;
    width: 900px;
    margin-left: 300px;
}
.searchbox button{
    border: 1px solid black;
    float: left;
    padding: 5PX;
    margin: 5px;
    cursor: pointer;
}